@import 'tailwindcss';
@plugin "daisyui";

body {
	font-family: 'Montserrat', sans-serif;
}

@theme {
	--color-dark-olive-black: #1f1f1a;
	--color-warm-white: #f5f5f2;
	--color-soft-warm-gray: #e8e6e0;
	--color-creamy-white: #f6f4ef;

	--color-custom-h: #1a5e3b;
	--color-section-two: #f6f4ef;
	--color-section-two-text: #1f1f1a;
	--color-section-three: #e8e6e0;
	--color-section-three-text: #1f1f1a;
	--color-section-faq-text: #1f1f1a;

	--color-custom-section-about-me: #2a2a24;
	--color-section-contact: #2f2f33;
	--color-section-testimonials: #f5f5f2;
}

@plugin "daisyui/theme" {
	name: 'cqmLight';
	default: true;
	prefersdark: false;
	color-scheme: light;

	/* bg: white, fg: olive black */
	--color-base-100: #f5f5f2;
	--color-base-content: #1f1f1a;
	/* bg: white */
	--color-base-200: #f5f5f2;
	/* bg: olive black */
	--color-base-300: #1f1f1a;

	/* Green */
	--color-primary: #1a5e3b;
	--color-primary-content: #ffffff;

	/* Gold */
	--color-secondary: #a18357;
	--color-secondary-content: #ffffff;

	/* Optional custom variables */
	--radius-btn: 0.5rem;
	--btn-text-case: uppercase;

	/* Custom */
	--color-dark-olive-black: #1f1f1a;
	--color-warm-white: #f5f5f2;
	--color-soft-warm-gray: #e8e6e0;
	--color-creamy-white: #f6f4ef;

	--color-custom-h: #a18357;
	--color-section-two: #f6f4ef;
	--color-section-two-text: #1f1f1a;
	--color-section-three: #e8e6e0;
	--color-section-three-text: #1f1f1a;
	--color-section-faq-text: #1f1f1a;

	--color-custom-section-about-me: #d8d3c6;
	--color-section-contact: #e8e6e0;
	--color-section-testimonials: #f5f5f2;
}

@plugin "daisyui/theme" {
	name: 'cqmDark';
	default: true;
	prefersdark: true;
	color-scheme: dark;

	/* bg: olive black, fg: white */
	--color-base-100: #1f1f1a;
	--color-base-content: #ffffff;
	/* bg: olive black */
	--color-base-200: #1f1f1a;
	/* bg: white */
	--color-base-300: #f5f5f2;

	/* Green */
	--color-primary: #1a5e3b;
	--color-primary-content: #ffffff;

	/* Gold */
	/* consider switching to #A18357 from #b49a73 */
	--color-secondary: #b49a73;
	--color-secondary-content: #ffffff;

	/* Optional custom variables */
	--radius-btn: 0.5rem;
	--btn-text-case: uppercase;

	/* Custom */
	--color-dark-olive-black: #1f1f1a;
	--color-warm-white: #f5f5f2;
	--color-soft-warm-gray: #e8e6e0;
	--color-creamy-white: #f6f4ef;

	--color-custom-h: #b49a73;
	--color-section-two: #e8e6e0;
	--color-section-two-text: #1f1f1a;
	--color-section-three: #f6f4ef;
	--color-section-three-text: #1f1f1a;
	--color-section-faq-text: #1f1f1a;
	--color-custom-section-about-me: #2a2a24;
	--color-section-contact: #f5f5f2;
	--color-section-testimonials: #e8e6e0;
}
